@model ListadoProductoSuministradorViewModel

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Proveedor</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var productosSuministrador in Model.productosSuministradores)
            {
                <tr>
                    <td>@productosSuministrador.NombreProducto</td>
                    <td>@productosSuministrador.Descripcion</td>
                    <td>@productosSuministrador.Suministrador.RazonSocial</td>
                </tr>
            }
        </tbody>
    </table>
</div>