@model ListadoProductoSuministradorViewModel

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Proveedor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var productosSuministrador in Model.productosSuministradores)
            {
                <tr>
                    <td>@productosSuministrador.NombreProducto</td>
                    <td>@productosSuministrador.Descripcion</td>
                    <td>@productosSuministrador.Suministrador.RazonSocial</td>
                    <td>
                        @Html.ActionLink("Ordenar", "Ordenar", "OrdenCarrito", new { productoId = productosSuministrador.Id }, new { @class = "btn btn-primary", @id = "btnIndex" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>