

<h1 class="text-center">
    Bienvenido/a, @User.Identity?.Name 
    <br />
    <img src="https://images.pexels.com/photos/7653971/pexels-photo-7653971.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="700" height="480" style="margin-top: 2%" />
    <br />
    <a asp-action="Index" asp-area="Cliente" asp-controller="Home" class="btn btn-primary" style="margin-top: 2%; float: right;">Ir al inicio</a>
</h1>