@model ListadoInventarioViewModel

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Stock Actual</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var inventarioItem in Model.Inventario)
            {
                <tr>
                    <td>@inventarioItem.ProductoSuministrador.NombreProducto</td>
                    <td>@inventarioItem.StockActual</td>
                </tr>
            }
        </tbody>
    </table>
</div>