@model SuministradorModel

@{
    ViewData["Title"] = "Crear Suministrador";
}

<div class="container">

    <h1>Registrar Suministrador</h1>
    <hr />


    <form method="post">
        <div class="col-lg-3">
            <label>Razón Social</label>
            <input class="form-control" asp-for="RazonSocial"/>
        </div>

        <div class="col-lg-3">
            <label>NIF</label>
            <input class="form-control" asp-for="CIF" />
        </div>

        <div class="col-lg-3">
            <label>Descripcion</label>
            <input class="form-control" asp-for="Descripcion" />
        </div>

        <div class="col-lg-3">
            <label>Fecha de Creación</label>
            <input class="form-control" asp-for="FechaCreacion" type="date"/>
        </div>

        <div class="col-lg-3">
            <label>Correo Electrónico</label>
            <input class="form-control" asp-for="CorreoElectronico" type="email" />
        </div>

        <div class="col-lg-3">
            <label>Telefono</label>
            <input class="form-control" asp-for="TelefonoContacto"/>
        </div>

        <div class="col-lg-3">
            <button style="float: right; margin-top: 6%" type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>